<div class="col-sm-4 col-md-3 col-lg-2">
	<!-- <div class="">
		<div class=""> -->
			<a target="_blank" class="menupics" href="<%= "#{restaurant[:menu]}" %>"  style="<%= "background-image: url(\"#{restaurant[:image]}\")" %>" >
				<!--<img src=<%= "#{restaurant[:image]}" %> >-->
			</a>
		<!-- </div>
	</div> -->
</div>