<div class = 'container'>
    <table class = 'table table-responsive table-condensed'>
        <tr>
            <th></th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <tr>
            <td>Start Time</td>
            <td>6 PM</td>
            <td>6 PM</td>
            <td>6 PM</td>
            <td>CLOSED</td>
            <td>6 PM</td>
            <td>6 PM</td>
            <td>6 PM</td>
        </tr>
        <tr>
            <td>Close Time</td>
            <td>Midnight</td>
            <td>Midnight</td>
            <td>Midnight</td>
            <td>CLOSED</td>
            <td>Midnight</td>
            <td>Midnight</td>
            <td>Midnight</td>
        </tr>
    </table>
</div>