<main id="main">
	<div class="jumbotron" id="jumbotron">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 non-social-col">
					<!-- <h1 ><span class = "weak">The</span><span class = "strong"><b>Weazy</b></span><span class = "weak">.org</span></h1> -->
					<!--<h1 ><span>The</span><span class = "strong"><b>Weazy</b></span><span>.org</span></h1>-->
					<!--<h2>6 - 12 PM</h2>-->
					
					<img src = 'http://i.imgur.com/dLTIdbc.png'>
 				    <h3>$3 Delivery Anywhere in Ann Arbor</h3>
 				    <h3>
 				    	Taking Orders from 6:00 PM - 11:30 PM
 				    </h3>
					<!--<h3 class ="strong">Open 6pm-Midnight</h3>-->
					<!--<h3 class = "strong">Delivery from Any Restaurant for $3.99 + 10% </h3>-->
					<!--<h3 class = 'strong'>No Marked-up Menus or Hidden Fees </h3>-->

<!--<p class = "announcement">-->
<!--	<em>-->
<!--		We're getting ready to come back too: taking orders starting 7pm until Midnight this Monday!-->
<!--	</em>-->
<!--</p>-->
<br>

<br>
<!-- <p class = "weak">Order by Chat, or Text <a id="order" href="tel://1-734-707-8971">(734) 707-8971</a></p> -->
</div>
<div class="col-md-3 hidden-sm hidden-xs social-col">
	<div class="social-content pull-right">
		<!-- <div class="mobile-hide pull-right" style="background-color:white;"> -->
		<!-- <div class="fb-like-box" data-href="https://www.facebook.com/theWeazy" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true"></div> -->
		<a class="twitter-timeline" href="https://twitter.com/TheWeazy" data-widget-id="569669310759837696">Tweets by @TheWeazy</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<!-- </div> -->
	</div>
</div>
</div>
</div>


</div>

<div class = "container-fluid">
	<div class = "row">
		<!--<div class = "col-md-4">-->
		<!--	<P class = "centered">-->
		<!--		Pick ANY Restaurant/Convenience Store in Ann Arbor-->
		<!--	</p>-->
		<!--	<p class = "centered">-->
		<!--		TELL your operator your order by <a href = "javascript:$zopim.livechat.window.show()" class = "btn btn-success btn-xs">LiveChat</a> -->
		<!--	</p>-->
		<!--	<p class = "centered">-->
		<!--		TELL your operator your order by <a href = "javascript:$zopim.livechat.window.show()" class = "btn btn-success btn-xs">LiveChat</a> -->
		<!--	</p>-->
		<!--</div>-->
		<div class = "col-md-3 col-md-offset-1 bs-callout bs-callout-default">
			<h4>Pick a Place</h4>
			<p>
				Restaurant or Convenience Store, as long as it's in Ann Arbor, we'll get it. Every restaurant and convenience store delivers when you use us.
			</p>
		</div>
		<div class = "col-md-3 bs-callout bs-callout-primary">
			<h4>Give your Order</h4>
			<p>
				Place your order by <a href = "javascript:$zopim.livechat.window.show()" class = "btn btn-warning btn-xs">LiveChat</a>. 
				Delivery Fees are $3 - 4 depending on distance and difficulty of what you want!
			</p>
		</div>
		<div class = "col-md-3 bs-callout bs-callout-success">
			<h4>Enjoy your Meal</h4>
			<p>
				Pay by cash or card after you get your food. Never waste time or gas again, and please tip your courier if you enjoy their service! 
			</p>
		</div>
	
	
	</div> <!-- End of Div Row -->
</div>


<div class="container-fluid" id="instructions">
	
	<div class="row marketing" id="three_dollar_container">
		<div class="col-lg-12">
			<div class="row" id="three_dollar_menus_headers">
				<div class="col-lg-12">
					<h1>$3 Delivery Fee</h1>
					<h3>Click a menu to start</h3>
				</div>
			</div>
			<div id="3d_menus" class="row">
				<div class="col-lg-1"></div>
				<% @restaurants_with_menus.each do |rm1| %>
						<%= render partial: 'restaurant', locals: {restaurant: rm1 } %>
				<% end %>
			</div>
		</div>
	</div>
	
	<div class="row">
		<h1 class = "stronglight" style="text-align:center;font-size:4em;font-weight:700;">Bespoke Orders</h1>
		<h3 class = "stronglight" style="text-align:center">$3 - 4 plus 10% Per Delivery, from anywhere in Ann Arbor</h3>
		<h3 class = "stronglight" style="text-align:center">Use the site chat below or text us at <a href="tel://1-734-707-8971">(734) 707-8971</a></h3>
	</div class="row">
	<!--<div class="row clearfix" >-->
	<!--	<div class = "col-md-4">-->
	<!--		<div class = 'centered'>-->
	<!--			<i class = 'fa fa-cutlery fa-5x fa-align-center'></i>-->
	<!--		</div>-->
	<!--		<p class = "lead stronglight centered">-->
	<!--			Pick any Restaurant in Ann Arbor that you want food from!-->
	<!--		</p>-->
			
			
	<!--	</div>-->
	<!--	<div class = "col-md-4">-->
	<!--		<div class = 'centered'>-->
	<!--			<i class = 'fa fa-comments fa-5x'></i>-->
	<!--		</div>-->
	<!--		<p class = "lead stronglight centered">-->
	<!--			<a id="order" href="sms:+17347078971">Text (734) 707-8971</a> or Order Through the Chat Window Below-->
	<!--		</p>-->
			
			
	<!--	</div>-->
	<!--	<div class = "col-md-4">-->
	<!--		<div class = 'centered'>-->
	<!--			<i class = 'fa fa-truck fa-5x'></i>-->
	<!--		</div>-->
	<!--		<p class = "lead stronglight centered">-->
	<!--			Wait for your food to arrive and pay by credit card once it's here!-->
	<!--		</p>-->
			
			
	<!--	</div>-->


	<!--</div>-->
	<div id="menus" class="row marketing">
		<!-- <div class="col-md-4"> -->
			<!-- <div class="panel">
				<div class="panel-body">
					<a target="_blank" href="http://www.fastfoodmenuprices.com/mcdonalds-prices/">
						<img class = "menupics" src = "http://i.imgur.com/cnCc7Jn.png">
					</a><br>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body">
					<a target="_blank" href="http://www.fastfoodmenuprices.com/subway-prices/">
						<img class = "menupics" src = "http://i.imgur.com/PaZsVWx.jpg"></img>
					</a>
				</div>

			</div>

			<div class="panel">
				<div class="panel-body">
					<a target="_blank" href="http://www.fiveguys.com/menu.aspx">
						<img class = "menupics" src = "http://i.imgur.com/tfAHtOT.png"></img>
					</a>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body">
					<a target="_blank" href="http://www.fastfoodmenuprices.com/wendys-prices/">
						<img class = "menupics" src = "http://i.imgur.com/uCGO023.png"></img>
					</a >
				</div>

			</div>

			<div class="panel">
				<div class="panel-body">
					<a target="_blank" href="http://www.fastfoodmenuprices.com/little-caesars-prices/">
						<img class = "menupics" src = "http://i.imgur.com/0iE1P1N.jpg">
					</a>
				</div>

			</div> -->
			<% @restaurants1.each do |r1| %>
				<%= render partial: 'restaurant', locals: {restaurant: r1 } %>
			<% end %>
		<!-- </div>

		<div class="col-md-4"> -->
			<% @restaurants2.each do |r2| %>
				<%= render partial: 'restaurant', locals: {restaurant: r2 } %>
			<% end %>
			<!-- <div class="panel">
				<div class="panel-body">
					<a target="_blank" href="http://www.fastfoodmenuprices.com/taco-bell-prices/">
						<img class = "menupics" src = "http://i.imgur.com/4zIkrGS.png">
					</a>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body">
					<a target="_blank" href="http://i.imgur.com/0HvYsfA.png">
						<img class = "menupics" src = "http://i.imgur.com/erZf8m1.png">
					</a>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body">
					<a target="_blank" href="http://www.fastfoodmenuprices.com/burger-king-prices/">
						<img class = "menupics" src = "http://i.imgur.com/vt50Cc3.png">
					</a>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body">
					<a target="_blank" href="https://s3.amazonaws.com/weazy/TheBigSalad.pdf">
						<img class = "menupics" src = "http://i.imgur.com/ivCmZ6T.png">
					</a>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body">
					<a target="_blank" href="https://s3.amazonaws.com/weazy/CurryOn.pdf">
						<img class = "menupics" src = "http://i.imgur.com/RjHy39d.jpg">
					</a>
				</div>
			</div> -->


		<!-- </div>

		 <div class="col-md-4"> -->

			<% @restaurants3.each do |r3| %>
				<%= render partial: 'restaurant', locals: {restaurant: r3 } %>
			<% end %>
			<!-- <div class="panel">
				<div class="panel-body">
					<a target="_blank" href="http://www.noodles.com/food/">
						<img class = "menupics" src = "http://i.imgur.com/6S5h6jI.png"></img>
					</a>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body">
					<img class = "menupics" src = "http://i.imgur.com/mdFPdlo.png"></img>
					<h4>Only prepared foods</h4>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body">
					<a target="_blank" href="https://www.panerabread.com/content/dam/panerabread/documents/nutrition/Menu-Retail.PDF">
						<img class = "menupics" src = "http://i.imgur.com/fGTzrkV.png"></img>
					</a>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body">
					<a target="_blank" href="http://www.whitecastle.com/food/menu/featured">
						<img class = "menupics" src = "http://i.imgur.com/u5r2SZi.png">
					</a>
				</div>
			</div>


			<div class="panel">
				<div class="panel-body">
					<a target="_blank" href="http://www.kfc.com">
						<img class = "menupics" src = "http://i.imgur.com/uH6wzbC.png">
					</a>
				</div>
			</div>	  -->         

		<!-- </div> -->
	</div>

</div>

<footer class="footer">
	<p>&copy; TheWeazy.org</p>
</footer>
</main>