<main id="main">

	      <div class="jumbotron" id="jumbotron">
	        <h1 ><em>The</em>Weazy.org</h1>
	        <h3>$3 Deliveries Anywhere in Ann Arbor from 5PM to 2AM</h3>
	        <h3 class = 'lead'><em>Check some menus down below</em></h3><h3>Call or Text <a id="order" href="tel://1-734-707-8971">(734) 707-8971</a> to order</h3>
	      </div>
<div class="container">

	     <div id="menus" class="row marketing">
	<div class="col-lg-4">
		<div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>McDonalds</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a href="http://www.fastfoodmenuprices.com/mcdonalds-prices/">
	          			<img class = "menupics" src = "http://i.imgur.com/cnCc7Jn.png">
	          		</a><br>
	          	</div>
	          </div>


	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Krogers</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<img class="menupics" src="http://i.imgur.com/aMUgNaS.png" />
	          		We delivery any prepared food.
	          	</div>
	          </div>

	          <div class="panel">
	          	<div class="panel-heading">
	          		<h4>Evergreen</h4>
	          	</div>
	          	<div class="panel-body">
	          		<a href="https://s3.amazonaws.com/weazy/Evergreen+Chinese.pdf">Traditional Chinese Menu</a>
	          		<br>
	          		<a href="https://s3.amazonaws.com/weazy/Evergreen.pdf">Dinner Menu</a>
	          		<br>        	
	          	</div>
	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Subway</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a href="http://www.fastfoodmenuprices.com/subway-prices/">
	          			<img class = "menupics" src = "http://i.imgur.com/PaZsVWx.jpg"></img>
	          		</a>
	          	</div>

	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Wendy's</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a href="http://www.fastfoodmenuprices.com/wendys-prices/">
	          			<img class = "menupics" src = "http://i.imgur.com/uCGO023.png"></img>
	          		</a>
	          	</div>

	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Little Caesar's</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a href="http://www.fastfoodmenuprices.com/little-caesars-prices/">
	          			<img class = "menupics" src = "http://i.imgur.com/0iE1P1N.jpg">
	          		</a>
	          	</div>

	          </div>


	      </div>

	      <div class="col-lg-4">
	      	<div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Taco Bell</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a href="http://www.fastfoodmenuprices.com/taco-bell-prices/">
	          			<img class = "menupics" src = "http://i.imgur.com/4zIkrGS.png">
	          		</a>
	          	</div>
	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Starbucks</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a href="http://www.fastfoodmenuprices.com/starbucks-prices/">
	          			<img class = "menupics" src = "http://i.imgur.com/bdxfdKo.jpg">
	          		</a>
	          	</div>
	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Burger King</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a href="http://www.fastfoodmenuprices.com/burger-king-prices/">
	          			<img class = "menupics" src = "http://i.imgur.com/vt50Cc3.png">
	          		</a>
	          	</div>
	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>The Big Salad</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a href="https://s3.amazonaws.com/weazy/TheBigSalad.pdf">
	          			<img class = "menupics" src = "http://i.imgur.com/ivCmZ6T.png">
	          		</a>
	          	</div>
	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Curry On</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a href="https://s3.amazonaws.com/weazy/CurryOn.pdf">
	          			<img class = "menupics" src = "http://i.imgur.com/RjHy39d.jpg">
	          		</a>
	          	</div>
	          </div>

	          
	      </div>

	  <div class="col-lg-4">
	  	<div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>GreatPlaisnsBurger</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a href="http://www.greatplainsburger.com/fax-order.pdf">
	          			<img class = "menupics" src = "http://i.imgur.com/uyym5Jt.jpg">
	          		</a>
	          	</div>
	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>White Castle</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a href="http://www.whitecastle.com/food/menu/featured">
	          			<img class = "menupics" src = "http://i.imgur.com/u5r2SZi.png">
	          		</a>
	          	</div>
	          </div>


	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>KFC</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a href="http://www.kfc.com">
	          			<img class = "menupics" src = "http://i.imgur.com/uH6wzbC.png">
	          		</a>
	          	</div>
	          </div>	          

	      </div>
	  </div>

	    </div>

	      <footer class="footer">
	        <p>&copy; TheWeazy.org</p>
	      </footer>
	      </main>