<main id="main">
	      <div class="jumbotron" id="jumbotron">
	      	<div class="container">
	      		<div class="row">
	      			<div class="col-md-6 col-md-offset-3 non-social-col">
				        <h1 ><span class = "weak">The</span><span class = "strong"><b>Weazy</b></span><span class = "weak">.org</span></h1>
<!-- 				        <h1 style="font-size:50px;color:rgb(255, 199, 96);">We're closing shop early today, see you tomorrow!</h1>
<<<<<<< HEAD
 -->				        <h3 style="color:#f0e6d8">Deliveries from <em>ANY</em> restaurant in Ann Arbor </h3>
 							
							 <br>
							 <br>
							 <br>
							 <p style="color:white; font-size: 20px;">
							 Have a good spring break, Wolverines! We are open from Tuesday through Friday this week between 6-9 PM! Follow us on twitter @TheWeazy to stay up-to-date and receive special offers!
							 <br>

							 <br>
				        <!-- <p class = "weak">Order by Chat, or Text <a id="order" href="tel://1-734-707-8971">(734) 707-8971</a></p> -->
			        </div>
			        <div class="col-md-3 hidden-sm hidden-xs social-col">
			        	<div class="social-content pull-right">
			        		<!-- <div class="mobile-hide pull-right" style="background-color:white;"> -->
					        	<!-- <div class="fb-like-box" data-href="https://www.facebook.com/theWeazy" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true"></div> -->
					        	<a class="twitter-timeline" href="https://twitter.com/TheWeazy" data-widget-id="569669310759837696">Tweets by @TheWeazy</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				        	<!-- </div> -->
			        	</div>
			        </div>
		        </div>
	        </div>


	      </div>

<div id = 'instructions'>
	<row>
		<h3 class = "strong" style="text-align:center">How to Order</h3>
		<br><br>
	</row>
	<row>
		<div class = "col-sm-4">
			<div class = 'centered'>
				<i class = 'fa fa-cutlery fa-5x fa-align-center'></i>
			</div>
			<p class = "lead strong centered">
				Pick any Restaurant in Ann Arbor that you want food from!
			</p>
			<br/>
			<br/>
		</div>
		<div class = "col-sm-4">
			<div class = 'centered'>
				<i class = 'fa fa-comments fa-5x'></i>
			</div>
			<p class = "lead strong centered">
				Text <a id="order" href="tel://1-734-707-8971">(734) 707-8971</a> or Order Through the Chat Window Below
			</p>
			<br/>
			<br/>
		</div>
		<div class = "col-sm-4">
			<div class = 'centered'>
				<i class = 'fa fa-truck fa-5x'></i>
			</div>
			<p class = "lead strong centered">
				Wait for your food to arrive and pay by credit card once it's here!
			</p>
			<br/>
			<br/>
		</div>
			<br/>
			<br/>
	</row>
</div>


<div class="container">

    <h3 class = 'lead strong centered'><em>Select Menus Below</em></h3>
	  <div id="menus" class="row marketing">
	<div class="col-md-4">
			<div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>McDonalds</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a target="_blank" href="http://www.fastfoodmenuprices.com/mcdonalds-prices/">
	          			<img class = "menupics" src = "http://i.imgur.com/cnCc7Jn.png">
	          		</a><br>
	          	</div>
	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Subway</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a target="_blank" href="http://www.fastfoodmenuprices.com/subway-prices/">
	          			<img class = "menupics" src = "http://i.imgur.com/PaZsVWx.jpg"></img>
	          		</a>
	          	</div>

	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>5 Guys</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a target="_blank" href="http://www.fiveguys.com/menu.aspx">
	          			<img class = "menupics" src = "http://i.imgur.com/tfAHtOT.png"></img>
	          		</a>
	          	</div>
	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Wendy's</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a target="_blank" href="http://www.fastfoodmenuprices.com/wendys-prices/">
	          			<img class = "menupics" src = "http://i.imgur.com/uCGO023.png"></img>
	          		</a>
	          	</div>

	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Little Caesar's</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a target="_blank" href="http://www.fastfoodmenuprices.com/little-caesars-prices/">
	          			<img class = "menupics" src = "http://i.imgur.com/0iE1P1N.jpg">
	          		</a>
	          	</div>

	          </div>


	      </div>

	      <div class="col-md-4">
	      	<div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Taco Bell</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a target="_blank" href="http://www.fastfoodmenuprices.com/taco-bell-prices/">
	          			<img class = "menupics" src = "http://i.imgur.com/4zIkrGS.png">
	          		</a>
	          	</div>
	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Chipotle</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a target="_blank" href="http://i.imgur.com/0HvYsfA.png">
	          			<img class = "menupics" src = "http://i.imgur.com/erZf8m1.png">
	          		</a>
	          	</div>
	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Burger King</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a target="_blank" href="http://www.fastfoodmenuprices.com/burger-king-prices/">
	          			<img class = "menupics" src = "http://i.imgur.com/vt50Cc3.png">
	          		</a>
	          	</div>
	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>The Big Salad</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a target="_blank" href="https://s3.amazonaws.com/weazy/TheBigSalad.pdf">
	          			<img class = "menupics" src = "http://i.imgur.com/ivCmZ6T.png">
	          		</a>
	          	</div>
	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Curry On</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a target="_blank" href="https://s3.amazonaws.com/weazy/CurryOn.pdf">
	          			<img class = "menupics" src = "http://i.imgur.com/RjHy39d.jpg">
	          		</a>
	          	</div>
	          </div>

	          
	      </div>

	  <div class="col-md-4">
	  	<div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Noodles&Company</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a target="_blank" href="http://www.noodles.com/food/">
	          			<img class = "menupics" src = "http://i.imgur.com/6S5h6jI.png"></img>
	          		</a>
	          	</div>
          	</div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Whole Foods</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<!-- <a target="_blank" href="http://www.noodles.com/food/"> -->
	          			<img class = "menupics" src = "http://i.imgur.com/mdFPdlo.png"></img>
	          		<!-- </a> -->
	          			<h4>Only prepared foods</h4>
	          	</div>
	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>Panera Bread</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a target="_blank" href="https://www.panerabread.com/content/dam/panerabread/documents/nutrition/Menu-Retail.PDF">
	          			<img class = "menupics" src = "http://i.imgur.com/fGTzrkV.png"></img>
	          		</a>
	          	</div>
	          </div>

	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>White Castle</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a target="_blank" href="http://www.whitecastle.com/food/menu/featured">
	          			<img class = "menupics" src = "http://i.imgur.com/u5r2SZi.png">
	          		</a>
	          	</div>
	          </div>


	          <div class="panel">
	          	<!-- <div class="panel-heading">
	          		<h4>KFC</h4>
	          	</div> -->
	          	<div class="panel-body">
	          		<a target="_blank" href="http://www.kfc.com">
	          			<img class = "menupics" src = "http://i.imgur.com/uH6wzbC.png">
	          		</a>
	          	</div>
	          </div>	          

	      </div>
	  </div>

	    </div>

	      <footer class="footer">
	        <p>&copy; TheWeazy.org</p>
	      </footer>
	      </main>