<main id = 'main'>
    <div class = 'container'>
    <div class = 'row'>
        <div class = 'col-md-4'>
            <h1 class = 'text-center'>Drivers</h1>
            <p>TheWeazy is hiring drivers ASAP. Good Pay & Flexible Hours. 
            Best way to get involved if you're interested in the business side of oeprations</p>
        </div>

        <div class = 'col-md-4'>
            <h1 class = 'text-center'>Bikers</h1>
            <p>Spring is coming, and TheWeazy is looking to add bikers to get where cars can't go!</p>
        </div>

        <div class = 'col-md-4'>
             <h1 class = 'text-center'>Developers</h1>
             <p>We're trying to build a real-time logistics network for the modern age, and to do that we need talented coders.
             The right candidate will be on track for founder or first-employee level equity compensation. 
             Full-stack web/app development or Machine Learning experience are highly regarded.</p>
        </div>
    </div>
    
    <div class = 'container-fluid'>
        <iframe src="https://docs.google.com/forms/d/1T95ditsl3PzGwTeqaw8AZxecapVGA7Kd9NbEct63-VY/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
    
    </div>
</main>